[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
jupyter = "*"
pytest = "*"
mypy= "*"
notebook = "*"

[packages]
flask = "==1.1.1"
werkzeug = "==0.16.1"
flask-restplus = "==0.13.0"
requests = "==2.24.0"
pymongo = {extras = ["srv"],version = "*"}
flask-pymongo = "*"

[requires]
python_version = "3.8"
